.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.ant-form-item{
  margin-bottom: 2px!important;
}

div#user.ant-card {
    background: #1da57a;
}

div#user.ant-card:hover {
    box-shadow: 6px 9px 20px 0px rgba(0, 0, 0, 0.36);
}

#user h2{
  color: #fff;
  font-size: 2em;
}

div#booking.ant-card {
    background: #6242c3;
    color: #fff;
}
div#booking.ant-card:hover{
    box-shadow: 6px 9px 20px 0px rgba(0, 0, 0, 0.36);
}
#booking h2{
  color: #fff;
  font-size: 2em;
}

div#hut.ant-card {
    background: #42c3bd;
    color: #fff;
}

div#hut.ant-card:hover {
        box-shadow: 6px 9px 20px 0px rgba(0, 0, 0, 0.36);
}

#hut h2{
  color: #fff;
  font-size: 2em;
}

#user i.anticon.anticon-user {
    font-size: 5em;
    position: relative;
    overflow: hidden;
    left: 1%;
    color: rgba(255, 255, 255, 0.62) ;
}
#hut i.anticon.anticon-home {
    font-size: 5em;
    position: relative;
    overflow: hidden;
    left: 1%;
    color: rgba(255, 255, 255, 0.62) ;
}
#booking i.anticon.anticon-book {
    font-size: 5em;
    position: relative;
    overflow: hidden;
    left: 1%;
    color: rgba(255, 255, 255, 0.62) ;
}

.logo {
  height: 50px;
  /*background: rgba(255, 255, 255, 0.2);*/
  margin: 16px;
}

.logo h2{
      color: #ffffff7d;
    position: relative;
    left: 39px;
    top: -25px;
}

i#logo {
    font-size: 3em;
    color: #ffffff7d;
}

.App-main{
    padding: 0.5em;
    /*background: rgb(255, 255, 255);*/
    height: 100vh;
    min-width: 100%;
    /*box-shadow: 1px 3px 4px 0px rgba(0, 0, 0, 0.59);*/
}

aside.Admin-sider.ant-layout-sider.ant-layout-sider-dark{
  height: 100%;
}

.ant-card.login-App.ant-card-bordered{
    width: 35%;
    margin: 0 auto;
}

.ant-carousel {
    min-height: 100vh;
    min-width: 100%;
}

#services{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-color: #b3b3b3;
  background-image: linear-gradient(to right, rgba(194, 229, 156,0.52), rgba(100, 179, 244,0.723)), url(/images/nipa/archery-asia-nipa-hut.jpg);
  /*background-image: linear-gradient(to right, linear-gradient(to right, #c2e59c, #64b3f4);), url(https://w.wallhaven.cc/full/95/wallhaven-95329w.jpg);*/
      width: 100%;
    height: 100vh;
    display: inline-block;
    padding-top: 2em;
}


.Booking-section{
    position: relative;
    top: 40px;
    left: 10px;
}

#landing section {
  margin: 0 25px;
}

#landing header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 30px;
}

#landing header div {
  margin-left: auto;
  font-size: 20px;
}

#landing header ul li {
  display: inline-block;
  margin: 0 20px;
  font-size: 1em;
}

#landing #main {
  margin: 0 120px;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#landing #main .main-text {
  font-size: 45px;
  font-weight: 700;
  line-height: 1.5;
}

#landing #main .main-text img{
  margin: 0 auto;
}

#landing #main .main-text p{
  margin-top: 0;
  margin-bottom: 0;
}

#landing span.span {
  border-bottom: 2px solid #3ff1aa;
}

#landing #services {
  margin: 0 120px;
  margin-top: 150px;
  /*display: grid;*/
  /*grid-template-columns: 1fr 1fr;*/
  height: 100vh;
}

#landing #huts .services-text {
  margin-top: 125px;
  line-height: 1.5;
}

.ant-typography{
  font-family: "Roboto";
  font-weight: lighter;
}

#huts h2.ant-typography{
  font-family: "Roboto";
  font-weight: bold;
}

/* [1] The container */
.img-hover-zoom {
  height: 50%;  /*[1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
  
}
.img-hover-zoom:hover {
  border: 2px solid #3ff1aa;
}
/* Vertical Zoom-n-pan Container */
.img-hover-zoom img {
  transition: transform .5s ease-in-out;
  width: 100%;
}

/* The Transformation */
.img-hover-zoom:hover img {
  transform: scale(2) rotate(15deg);
  
}

.hut-descriptions{
  padding: 2px 35px!important;
  font-size: 1.3em;
}

.ant-card-head-title {
    font-size: 1.5em;
}

.img-user{
  width: 100%;
}


/* DEMO-SPECIFIC STYLES */
.main-text p {
  /*color: #fff;*/
  /*font-family: monospace;*/
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.05em solid #3ff1aa; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;  /*Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: #3ff1aa }
}
